%p
  = link_to project.title, project
  = link_to 'Edit', edit_project_path(project)
  - if current_user.admin? && !current_user?(@user)
    = link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }